/* ============================================================ 공통 */
#wrap {}
#wrap .container {background-position: center; background-size: cover;}
#wrap .container .contents {
  margin: 0 auto;
  max-width: 1250px; min-width: 320px;
}
#wrap .container .main_title { /* 대제목 70 스타일 */
  color: #fff; text-align: center;
  font-size: 4.38rem; line-height: 1.3; letter-spacing: -0.02em;
}
#wrap .container .main_title span {font-weight: 700; line-height: 1.5;}
#wrap .container .sponsor_btn {
  color: #fff; background: linear-gradient(90deg, #fe9300,#ff7300);
  padding: 15px 70px; border-radius: 50px;
  font-size: 2.13rem; font-weight: 700; line-height: 1.2;
}
#wrap .container .sponsor_btn:hover {background: linear-gradient(90deg, #ff7300, #fe9300);}
#wrap .container .sponsor_btn img {width: 32px; margin-left: 10px; position: relative; top: 3px;}
#wrap .container .sponsor_q_btn {
  color: #fff; background-color: #050505;
  padding: 10px 30px; border-radius: 30px;
  font-size: 1.63rem; line-height: 1.2;
  display: flex; flex-flow: row nowrap; align-items: center;
}
#wrap .container .sponsor_q_btn:hover {box-shadow: 0 5px 10px rgba(225, 225, 225, 0.5);}
#wrap .container .sponsor_q_btn img {width: 24px;}
#wrap .container .sponsor_q_btn img:first-child {margin-right: 10px;}
#wrap .container .sponsor_q_btn img:last-child {margin-left: 10px;}
/* ============================================================ 1행 제목+후원 */
#wrap .bg1 {
  background-image: url(../images/bg1.png);
  background-attachment: fixed;
}
#wrap .bg1 .gradient {
  /* background:linear-gradient(각도deg, 색상, 색상위치%, 색상) */
  background: linear-gradient(transparent, rgba(0,0,0,0.6) 69%);
}
#wrap .bg1 .gradient .contents {
  height: 150vh;
  padding: 100px 0;
  display: flex; flex-flow: column nowrap;
  justify-content: center; align-items: center;
}
#wrap .bg1 .gradient .contents > * {margin-bottom: 100px;}
#wrap .bg1 .gradient .contents h1:nth-child(1) {width: 89px; align-self: flex-start;}
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) a img {width: 100%;}
#wrap .bg1 .gradient .contents h1:nth-child(2) {}
#wrap .bg1 .gradient .contents h1:nth-child(2) span {}
#wrap .bg1 .gradient .contents .sponsor_btn {}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:flex-end; margin: 0px;}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:first-child {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:last-child {}
/* ============================================================ 2행 퀴즈+참여 */
#wrap .bg2 {
  background-image: url(../images/quiz_bg.png);
}
#wrap .bg2 .contents {display: flex; justify-content: space-between;}
#wrap .bg2 .contents .quiz_contents {width: 450px;}
#wrap .bg2 .contents .quiz_contents h2 {
  margin-left: 212px; margin-bottom: 38px;
  color: #fff; font-size: 3.44rem; font-weight: 500; line-height: 1.2; letter-spacing: -0.01em;
}
#wrap .bg2 .contents .quiz_contents p,
#wrap .bg2 .contents .quiz_contents form label span,
#wrap .bg2 .contents .quiz_contents form .answer_btn {color: #fff; font-size: 1.25rem; line-height: 1.7;}
#wrap .bg2 .contents .quiz_contents p {margin-left: 6px;}
#wrap .bg2 .contents .quiz_contents form {}
#wrap .bg2 .contents .quiz_contents form label {}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz] {}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {
  background: url(../images/quiz_unchecked.png) no-repeat left 6px center;
  display: block; padding-left: 54px;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]:checked+span {
  background-image: url(../images/quiz_checked.png);
}
#wrap .bg2 .contents .quiz_contents form .answer_btn {
  width: 450px; padding: 10px 0;
  background-color: #050505; border-radius: 50px;
  margin-top: 29px;
}
#wrap .bg2 .contents .quiz_status {
  background-color: purple;
}
#wrap .bg2 .contents .quiz_status img {width: 500px;}
#wrap .bg2 .contents .quiz_status span {display: block;}
/* ============================================================ 3행 동영상 */
/* ============================================================ 4행 빙하 50% 감소 */
/* ============================================================ 5행 인류재앙3 */
/* ============================================================ 6행 지구전체위기 */
/* ============================================================ 7행 WWF소개 */
/* ============================================================ 8행 다양한활동 */
/* ============================================================ 9행 감사선물 */
/* ============================================================ 10행 안내사항 */