.plan {width: 1110px; margin: 0 auto;}
.plan thead {
    background-color: #fafafa;
    border: 2px solid #555; border-left: 0; border-right: 0;
}
.plan thead tr {}
.plan thead tr th {text-align: center;}
.plan thead tr:first-child th:nth-child(2) {
    padding: 30px 0; border-bottom: 1px dashed #aaa;
    width: 860px;
}
.plan thead tr:nth-child(2) th {padding: 20px 0;}
.plan thead tr th img {}
.plan thead tr th h1 {font-size: 1.25rem; font-weight: 600; margin-bottom: 12px;}
.plan thead tr th p {color: #777;}
.plan thead tr th h2 {font-size: 1.13rem; font-weight: 700; line-height: 1.5;}
.plan thead tr th h2+p {font-size: 0.88rem; line-height: 1.5;}
.plan thead tr:last-child th {font-size: 1.13rem; font-weight: 600; letter-spacing: -0.02em;}
.plan tbody {}
.plan tbody tr {border-bottom: 1px solid #ddd;}
.plan tbody tr th {width: 250px; padding: 20px 0; text-align: center; font-weight: 500;}
.plan tbody tr td {text-align: center; width: 170px; font-weight: 500;}
.plan tbody tr td:nth-child(2) {width: 150px;}
.plan tbody tr td:nth-child(3) {width: 350px; letter-spacing: -0.02em;}
.plan tbody tr td em {color: #EE239B; font-weight: 600;}