#wrap {width:500px; margin: 0 auto; padding-top: 84px;}
#wrap h1 {
    margin-bottom: 25px;
    font-size: 4.38rem; font-weight: 900; letter-spacing: -0.02em;
}
#wrap p {
    margin-bottom: 57px;
    font-size: 1.25rem; font-weight: 400; letter-spacing: -0.02em;
}
#wrap #login_frm {}
#wrap #login_frm fieldset {margin-bottom:62px}
#wrap #login_frm fieldset legend {}
#wrap #login_frm fieldset dl {}
#wrap #login_frm fieldset dl dt {
    margin-bottom: 18px;
    font-size: 1.88rem; font-weight: 700; letter-spacing: -0.02em;
}
#wrap #login_frm fieldset dl dd {
    margin-bottom: 38px;
}
#wrap #login_frm fieldset dl dd:nth-of-type(3) {padding-top:14px; margin-bottom:0;}
#wrap #login_frm fieldset dl dd input {
    border: 1px solid #aaa; border-radius: 10px;
    width: 100%; padding:15px;
    letter-spacing: -0.02em;
}
#wrap #login_frm fieldset dl dd button {
    width: 100%; display: block;
    border: 1px solid #aaa; border-radius: 10px;
    padding:15px;
    font-weight: 700; letter-spacing: -0.02em; 
}
#wrap #login_frm fieldset dl dd .btn_login {
    margin-bottom: 18px;
    background-color: #222; color:#fff;
}
#wrap #login_frm fieldset dl dd .btn_sign_g {}
#wrap .m_sign_up {letter-spacing: -0.02em; color: #555; text-align: center;}
#wrap .m_sign_up a {letter-spacing: -0.02em; font-weight: 700;}