header {width: 1152px; margin: 0 auto;}
/* =================================================== header top */
header .top {
  height: 48px;
  /* lnb+mylnb 자식을 정렬하기 위한 flex적용부모 */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .top .lnb {
  /* 서울특별시 h1~응답소 a 자식을 정렬하기 위한 flex적용부모 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {margin-left: 20px; letter-spacing: -0.02em;}
header .top .my_lnb {}
header .top .my_lnb a {margin-left: 20px; letter-spacing: -0.02em;}
header .top .my_lnb a:first-child {margin: 0px;}
/* =================================================== header bottom */
header .bottom {
  height: 119px;
  /* 로고h1~언어div 자식을 묶는 flex적용부모 */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
  background-color: #fff;
  width: 369px; height: 46px;
  border: 2px solid #1e6cb3; padding: 0 20px;
  /* input+button 정렬을 위한 flex부모 */
  display: flex; flex-flow: row nowrap;
  justify-content: space-between;
}
header .bottom #searchFrm input[name*=search] {width: 100%;}
header .bottom #searchFrm input[name*=search]::placeholder {color: #1e6cb3; letter-spacing: -0.02em;}
header .bottom #searchFrm .search_btn {}
header .bottom .lang {}
header .bottom .lang select[name*=lang] {
  border: 1px solid #1e6cb3; font-size: 0.81rem;
  width: 93px; height: 29px; margin-right: 2px; padding: 5px 10px;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
  background-color: #1e6cb3; color: #fff;
  width: 30px; height: 29px; font-size: 0.81rem; letter-spacing: -0.02em;
}
/* =================================================== main */
main {}
/* =================================================== main 1. 상단 이벤트 + 공지사항 배너 */
main .visual_container {
  background-color: aqua;
  width: 1152px; margin: 0 auto;
  /* 좌(거리두기) 우(현황,교통) 자식정렬 부모 flex 대상 */
  display: flex; flex-flow: row nowrap;
  justify-content: space-between;
}
main .visual_container .covid_notice {position: relative;}
main .visual_container .covid_notice img {}
main .visual_container .covid_notice .close {
  background-color: #1e6cb3; color: #fff;
  padding: 10px; border-radius: 5px; display: block;
  position: absolute; right: 10px; bottom: 10px;
}
main .visual_container .right_container {width: 360px;}
main .visual_container .right_container .covid {position: relative; margin-bottom: 10px;}
main .visual_container .right_container .covid img {}
main .visual_container .right_container .covid span {
  display: block; position: absolute;
  letter-spacing: -0.02em;
}
main .visual_container .right_container .covid .date {right: 20px; top: 11px;}
main .visual_container .right_container .covid .data {color: #fff; text-align: center;}
main .visual_container .right_container .covid .data1 {left: 30px;}
main .visual_container .right_container .covid .data2 {right: 30px;}
main .visual_container .right_container .covid .data1, 
main .visual_container .right_container .covid .data2 {width: 140px; top: 80px;}
main .visual_container .right_container .covid .data3 {left: 30px;}
main .visual_container .right_container .covid .data4 {right: 121px;}
main .visual_container .right_container .covid .data3,
main .visual_container .right_container .covid .data4 {width: 94px; bottom: 52px;}
main .visual_container .right_container .covid .data5 {width: 59px; right: 33px; bottom: 52px;}
main .visual_container .right_container .traffic {}
main .visual_container .right_container .traffic a {}
main .visual_container .right_container .traffic a img {}
/* =================================================== main 2~5. 공통제목디자인 */
main > * .title {}
main > * .title h1 {}
main > * .title .more_view {}
/* =================================================== main 2. 주요서비스 */
main .service_container {
  background-color: lime;
  width: 1152px; margin: 0 auto;}
main .service_container .title {padding-bottom: 20px; display: flex; justify-content: space-between; border-bottom: 1px solid #ccc;}
main .service_container .title h1 {font-size: 1.44rem; letter-spacing: -0.02em; font-weight: 500;}
main .service_container .title .more_view {
  padding: 10px; letter-spacing: -0.02em;
  border: 1px solid #aaa;
}
main .service_container .contents {
  background-color: aqua; padding: 20px;
  display: flex; flex-flow: row nowrap;
}
main .service_container .contents a {
  display: flex; flex-flow: column nowrap; align-items: center;
  width: calc(100% / 11);
}
main .service_container .contents a span {
  background-color: yellow;
  width: 60px; height: 60px;
  background-image: url(../images/service.png);
  margin-bottom: 15px;
}
main .service_container .contents a:nth-child(1) span {}
main .service_container .contents a:nth-child(2) span {background-position-x: -60px;}
main .service_container .contents a:nth-child(3) span {background-position-x: -120px;}
main .service_container .contents a:nth-child(4) span {background-position-x: -180px;}
main .service_container .contents a:nth-child(5) span {background-position-x: -240px;}
main .service_container .contents a:nth-child(6) span {background-position-x: -300px;}
main .service_container .contents a:nth-child(7) span {background-position-x: -360px;}
main .service_container .contents a:nth-child(8) span {background-position-x: -420px;}
main .service_container .contents a:nth-child(9) span {background-position-x: -480px;}
main .service_container .contents a:nth-child(10) span {background-position-x: -540px;}
main .service_container .contents a:nth-child(11) span {background-position-x: -600px;}
main .service_container .contents a em {font-size: 0.81rem; letter-spacing: -0.02em;}
/* =================================================== main 3. 신청,행사,서비스 */
/* =================================================== main 3-1. 이벤트신청 */
/* =================================================== main 3-2. 이달행사축제 */
/* =================================================== main 3-3. 자주찾은서비스 */
/* =================================================== main 4. 분야정보 */
/* =================================================== main 5. 새소식 */
/* =================================================== footer */